
@{
    ViewBag.Title = "bae";
}

<h2>bae</h2>
<p>
    lời yêu thương vô bờ bến <br />
    Sống không giận không hờn không oán trách<br />
    Sống mỉm cười với thử thách chông gai<br />
    Sống vươn lên cho kịp ánh ban mai<br />
    Sống chan hòa với những người chung sống…<br />

    Sống là động nhưng lòng luôn bất động<br />
    Sống là thương nhưng lòng chẳng vấn <br />
    Sống hiên ngang danh lợi xem thường<br />
    Tâm bất biến giữa dòng đời vạn biến.<br />

